:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);

    --space-200: 16px;
    --space-300: 24px;
    --space-500: 40px;

    --radius-lg: 20px;
    --radius-sm: 10px;

    --family-sans: "Outfit", sans-serif;

    --text-preset-1: 22px; /*Later on change to 22px / 16px = 1.375rem */
    --text-preset-2: 15px;

    --line-preset-1: 1.2; /*Better without unit so it sacles with inheritance and not % */
    --line-preset-2: 1.4;

    --letter-preset-1: 0;
    --letter-preset-2: 0.2px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--slate-300);
    color: var(--slate-500);
    font-family: var(--family-sans);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--text-preset-2);
    line-height: var(--line-preset-2);
    letter-spacing: var(--letter-preset-2);
}

h2 {
    color: var(--slate-900);
    font-size: var(--text-preset-1);
    line-height: var(--line-preset-1);
    letter-spacing: var(--letter-preset-1);
}

img, picture {
    max-width: 100%;
    display: block;
}


.flow > * + * {
    /* Vertical Spacing: 
    For each Child except the first it adds margin-top: --flow-space
    The Default Value is 1em
    margin-block-start acts the same as margin-top in a horizontal left-to-right context*/
  margin-block-start: var(--flow-space, 1em);
}

.challenge-wrapper {
    --max-child-width: var(--max-width, 320px);

    display: grid;
    place-items: center;
    min-height: 100vh;
    /* Centering with padding: 
    50% of the page - padding (left and right) 
    to center the card*/
    padding: var(--space-300)
     max(var(--space-300), calc(50% - var(--max-child-width) / 2));
}

.card {
    --flow-space: var(--space-300);
    background-color: var(--white);
    border-radius: var(--radius-lg);
    padding: var(--space-200) var(--space-200) var(--space-500);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0477);
}

.card__image {
    border-radius: var(--radius-sm);
    /*The Image overlaps the Radius
    Therefore you have to hide the Overflow to see the border-radius on the image*/
     overflow: hidden;
     /* Aspect Ratio on the Container of the Image instead of the image
     If you switch the Image to something where height > width or width > height
     then it should still work*/
     aspect-ratio: 1/1;  


     /* Targets only the img inside the Container and not the other images in the file */
     img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    } 
}

/* Alternativ to the nesting above: 
.card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
This will do the same*/

.card__content {
    padding-inline: var(--space-200);
    text-align: center;

    > * {
        --flow-space:var(--space-200);
    }
}
